/target/
.project
.classpath
.settings/
/common-utils/.factorypath
.checkstyle
/.factorypath
/*.log
/TRANSLATION-BRIDGE-3e63464b-7166-4b52-b37d-4454c4703de2-tcp1270014763/*.lck
/TRANSLATION-BRIDGE-62ec7143-129c-4706-b483-d6c2aabbba2c-tcp1270014763/.lck
